<ul class="collection z-depth-1" style="min-height: 100vh">
  <li class="collection-item">
    <span>
      <h5>Annotation</h5>
    </span>
  </li>
  <li>
    <div class="input-field col s12">
      <select multiple>
        <option *ngFor="let problem of tempProblems">{{problem}}</option>
      </select>
      <label>Pick your problem/s</label>
    </div>
  </li>
  <li>
    <div class="input-field col s12">
      <select multiple>
        <option *ngFor="let cause of tempCauses">{{cause}}</option>
      </select>
      <label>Pick your cause/s</label>
    </div>
  </li>
  <li>
    <div class="input-field col s12">
      <select multiple>
        <option *ngFor="let action of tempActions">{{action}}</option>
      </select>
      <label>Pick your action/s</label>
    </div>
  </li>
</ul>
