<div class="col s12 m10 l10 xl10 z-depth-2">
  <div class="row z-depth-0 green-background  ">
    <div class="col s12 m12 l12 xl12">
      <h4>Manage emails</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s3">
      <app-contact-list (contactEmitter)="receiveMessage($event)"></app-contact-list>
    </div>

    <div class="col s6">
      <form [formGroup]="emailForm">
        <label>
          Email title
        </label>
        <input type="text" placeholder="Title" formControlName="title">
        <label>
          Email body
        </label>
        <textarea id="msgText" class="materialize-textarea" placeholder="Text" formControlName="body" value = "{{emailForm.value.body}}"></textarea>
        <button [disabled]="emailForm.invalid || selectedUsers.length == 0" class="waves-effect waves-light btn green-background" type="submit"
          (click)="submit()">Send</button>
          <button class="waves-effect waves-light btn green-background" type="button"
          (click)="toggleHelp()" style="margin-left: 20px;">Show help</button>
      </form>
    </div>
    <div class="col s3">
      <app-template-list (templateEmiter)="receiveTemplate($event)"></app-template-list>
    </div>
    <div class="row">
      <div class="col s12 m5 offset-s6" style="margin-top: 3%">
        <div class="card-panel yellow darken-1" *ngIf = "showHelp">
          <span class="black-text"><b>
              WARNING
            </b> <br>
            <span>Write only HTML formatted text. The linebreaks doesn't works.</span> <br>
            <span>Example: Line 1 &lt;/br&gt; line 2</span> <br>
            <span>Example error: Line 1 (intro) Line 2</span> <br>
            <span>To check if the email is correct first send it to you.</span> <br>
            <span>If you load a template, write and delete a character to update the validator</span>
          </span>
        </div>
        <div class="col s12  z-depth-1" style="margin-top: 3%" id="panell">
          <h5 class="title titleWarning">{{emailForm.value.title}}</h5>
          <p [innerHTML]="emailForm.value.body" class="messageText"></p>
        </div>
      </div>
    </div>

  </div>
</div>