<ul id="contentProblem" class="dropdown-content" (mouseleave)="closeAlertList()">
  <li *ngFor="let parent of parentActions">
    <a data-target="contentChild" class="dropdown-trigger" [id]="parent.apiKey"
      (mouseenter)="openChild(parent.problem, parent.apiKey)">{{parent.name}}</a>
  </li>
</ul>

<ul id="contentChild" class="dropdown-content">
  <li *ngFor="let child of parentChildProblems">
    <a (click)="addProblem(child)">{{child.name}}</a>
  </li>
</ul>


<a class="btn dropdown-trigger" [id]="dropDownDefaultId" (mouseenter)="open()" data-target="contentProblem" style="width: 200px ;margin-left: 7px; margin-top: 10px; margin-bottom: 10px;">Problems
</a>