<table class="responsive-table">
  <thead>
    <tr>
      <th class="row-filename">Filename</th>
      <th class="row-creation-date">Creation date</th>
      <th class="row-parameter">Parameter</th>
      <th class="row-context-source">Context source</th>
    </tr>
  </thead>
  <tfoot *ngIf="thresholdNonConformities">
    <tr>
      <td colspan="1">
        <i class="material-icons cursorIcon left" *ngIf="page>1" (click)="changePage(page-1)">navigate_before</i>
      </td>
      <td colspan="2">{{page}}/{{maxPages}}</td>
      <td colspan="1">
        <i class="material-icons cursorIcon right" *ngIf="page<maxPages" (click)="changePage(page+1)">navigate_next</i>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let thnc of thresholdNonConformities" (click)="selectThresholdNonConformity(thnc)">
      <td>
        <span class="truncate">{{thnc.file.filename}}</span>
      </td>
      <td>
        <span class="truncate">{{thnc.file.creationDate || date}}</span>
      </td>
      <td>
        <span class="truncate">{{thnc.threshold.param.name}}</span>
      </td>
      <td>
        <span class="truncate">{{thnc.contextSource.abbreviated}}</span>
      </td>
    </tr>
  </tbody>
</table>
