<div class="container">
  <form [formGroup]="annotationForm">

    <label>
      Description
    </label>
    <input type="text" placeholder="Description" name="desc">
    <div class="row">
      <div class="col s2">
        <label>
          Day
        </label>
        <input type="number" placeholder="01" name="day" formControlName="day">
      </div>
      <div class="col s2">
        <label>
          Month
        </label>
        <input type="number" placeholder="01" name="month" formControlName="month">
      </div>
      <div class="col s2">
        <label>
          Year
        </label>
        <input type="number" placeholder="01" name="year" formControlName="year">
      </div>
      <div class="col s2">
        <label>
          Hours
        </label>
        <input type="number" placeholder="01" name="hour" formControlName="hour">
      </div>
      <div class="col s2">
        <label>
          Minutes
        </label>
        <input type="number" placeholder="01" name="minutes" formControlName="minute">
      </div>
    </div>



  </form>


  <div class="row">
    <div class="col s12 m2 l2 xl2">
      <button type="button" class="btn waves-effect waves-light" [disabled]="annotationForm.invalid" id="saveButton"
        (click)="submit()">Save</button>
    </div>
    <div class="col s12 m2 l2 xl2">
      <button style="margin-left: -95px" type="button" class="btn amber waves-effect waves-light"
        (click)="closeFormEvent()">Go back</button>
    </div>
  </div>
</div>