<div class="col s12 m10 l10 xl10 z-depth-2">
  <div class="row z-depth-0 blue-grey darken-1">
    <div class="col s12 m12 l12 xl12">
      <h4>Controlled vocabulary management</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l3 xl3">
      <!-- LEFT SIDE selector and form -->
      <app-category-selector></app-category-selector>
      <app-cv-form></app-cv-form>
    </div>
    <div class="col s12 m12 l9 xl9">
      <!-- Right SIDE cv list -->
      <app-cv-list></app-cv-list>
    </div>
  </div>
</div>
