<div class="row" style="margin-bottom: 50px;">
  <div class=" z-depth-1" id="panell">
    <h5 class="title titleWarning" >Alo presidente</h5>
    <p class="messageText">bona tarda</p>
  </div>
</div>
<div class="row" style="margin-bottom: 50px;">
  <div class="z-depth-1" id="panell">
    <h5 class="title titleMessage"><img src="assets/icons/cite.svg" alt="Pipeline good" style="width: 4%;"> Check out the resources!</h5>
    <p class="messageText">
      Dont't forget to check out the resources to get the instrument cards, the QCrawler manual and download.</p>
  </div>
</div>
