<div class="col s3 z-depth-2" style="margin-left: 6vw;">
    <div class="row z-depth-0 green-background  ">
        <div class="col s12 m12 l12 xl12">
            <h5>QCloud2 statistics</h5>
        </div>
    </div>
    <div class="row z-depth-0">
        <div class="col s12">
            <p>Total files: {{generalStats.totalFiles}}</p>
            <p>Files 6 months ago: {{generalStats.filesLast6Months}}</p>
            <p>Nodes with files last 6 months: {{generalStats.nodesWithFiles6Months}}</p>
            <p>Users with files last 6 months: {{generalStats.usersWithFiles6Months}}</p>
            <p>Countries with files last 6 months: {{generalStats.countriesWithFilesLast6Months}}</p>
            <p>Labsystems with files last 6 months: {{generalStats.labSystemsWithFiles}}</p>
        </div>
    </div>
</div>