<!-- ASIDE show only for big screens-->
<div class="col s12 m2 l2 xl2 hide-on-med-and-down">
    <ul class="collapsible z-depth-0" id="menu">
        <li (click)="open('menu')">
            <a class="collapsible-header green-background   waves-effect waves-cyan">
                <span class="nav-headers">Users</span>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li><a routerLink="/application/management/users">Manage users</a></li>
                </ul>
            </div>
        </li>
        <li (click)="open('menu')">
            <a class="collapsible-header green-background   waves-effect waves-cyan">
                <span class="nav-headers">Instruments</span>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li *ngFor="let category of categories"><a
                            [routerLink]="['/application/management/instruments',category.name]">{{category.name}}</a>
                    </li>
                    <li><a routerLink="/application/management/systems">Lab systems</a></li>
                </ul>
            </div>
        </li>
        <li (click)="open('menu')">
            <a class="collapsible-header green-background   waves-effect waves-cyan">
                <span class="nav-headers">Thresholds</span>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li><a routerLink="/application/management/thresholds">Manage thresholds</a></li>
                    <li><a routerLink="/application/management/guidesets">Instrument guide sets</a></li>
                </ul>
            </div>
        </li>
        <li (click)="open('menu')">
            <a class="collapsible-header green-background   waves-effect waves-cyan">
                <span class="nav-headers">Community</span>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li><a routerLink="/application/management/community">Manage community lines</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div class="col s12 m2 l2 xl2 hide-on-med-and-up">
    <span><i class="material-icons">people</i><i class="material-icons">web</i></span>

</div>