<div class="col s12 m10 l10 xl10 z-depth-2">
    <div class="row z-depth-0 green-background  ">
        <div class="col s12 m12 l12 xl12">
            <h4>Problem creator/editor</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <div class="container">
                <form [formGroup]="builderForm">
                    <label>
                        Name
                    </label>
                    <input type="text" formControlName="name" name="name" id="name" placeholder="Problem 1">
                    <label>
                        Description
                    </label>
                    <input type="text" formControlName="description" name="desc" id="desc"
                        placeholder="Problem 1 description">
                    <label>QCCV</label>
                    <input type="text" formControlName="qccv" name="qccv" id="qccv" placeholder="Name"
                        placeholder="QCCV:235169">
                </form>
                <div class="row">
                    <div class="col s12 m2 l2 xl2">
                        <button type="button" class="btn waves-effect waves-light" [disabled]="builderForm.invalid"
                            id="saveButton" (click)="save()" *ngIf="!edit">Save</button>
                        <button type="button" class="btn waves-effect waves-light" [disabled]="builderForm.invalid"
                            id="saveButton" (click)="update()" *ngIf="edit">Update</button>
                    </div>
                    <div class="col s12 m2 l2 xl2">
                        <button style="margin-left: -30px" type="button" class="btn amber waves-effect waves-light"
                            (click)="goBack()">Go back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>