<div>
  <h5>Add sample type</h5>
  <form (ngSubmit)="onSubmit(); newSampleType.reset()" #newSampleType="ngForm" ngNativeValidate autocomplete="off">
    <div class="input-field">
      <input #nameBox type="text" name="name" [(ngModel)]="sampleType.name" class="validate" id="name" validate required>
      <label for="name">Name</label>
    </div>
    <div class="input-field">
      <select id="select_categories" [(ngModel)]="sampleType.sampleTypeCategory" name="selectedCategory">
        <option *ngFor="let sampleTypeCategory of sampleTypeCategories" [ngValue]="sampleTypeCategory">
          {{sampleTypeCategory.name}}
        </option>
      </select>
      <label>Sample type category</label>
    </div>
    <div class="input-field">
      <button type="submit" class="waves-effect waves-light btn blue-grey darken-1">Add</button>
      <button type="button" class="waves-effect waves-light btn blue-grey darken-1">Save</button>
    </div>
  </form>
</div>
