ç.action {
  margin-left: 5px;
  color: #9e9e9e;
  cursor: pointer;
  font-style: normal;
}

.action:hover {
  color: #4e4e4e;
}

.show-action {
  visibility: visible;
}

.hide-action {
  visibility: hidden;
}
.qccv {
  font-size: 0.7rem;
}
