<div class="row">
  <div class="col s12 m12 l12 xl12">
    <h5>Node instruments</h5>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>System Name</th>
      <th>Instruments</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Set guide set</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let system of systems">
      <td>{{system.name}}</td>
      <td>
        <ul>
          <li *ngFor="let cv of system.dataSources">
            {{cv.name}}
          </li>
        </ul>

      </td>
      <td>
        <input type="text" name="startDate{{system.id}}" class="datepicker{{system.id}}" [(ngModel)]="system.guideSet.startDate"/>
      </td>
      <td>
        <input type="text" name="endDate{{system.id}}" class="datepicker{{system.id}}" [(ngModel)]="system.guideSet.endDate"/>
      </td>
      <td>
        <button type="button" class="waves-effect waves-light btn" (click)="set(system)">Set</button>
      </td>
    </tr>
  </tbody>
</table>
