<table>
  <tbody *ngFor="let system of systems">
    <tr>
      <td colspan="5" class="center-align green-background lighten-5"><b>{{system.name}}</b></td>
    </tr>
    <tr>
      <th>Sample type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Set guide set</th>
      <th>Information</th>
    </tr>
    <tr *ngFor="let guideSet of system.enabledGuideSets">
      <td>
        {{guideSet.sampleType.name}}
      </td>
      <td>
        <input type="text" [attr.disabled]="guideSet.isUserDefined==false ? true : null" position="start"
          name="startDate{{system.apiKey}}-{{guideSet.sampleType.name}}"
          class="datepicker-{{system.apiKey}}-{{guideSet.sampleType.name}}" [(ngModel)]="guideSet.startDate"
          attr.data-coord="datepicker-{{system.apiKey}}-{{guideSet.sampleType.name}}" />
      </td>
      <td>
        <input type="text" [attr.disabled]="guideSet.isUserDefined==false ? true : null" position="end"
          name="endDate{{system.apiKey}}-{{guideSet.sampleType.name}}"
          class="datepicker-{{system.apiKey}}-{{guideSet.sampleType.name}}" [(ngModel)]="guideSet.endDate"
          attr.data-coord="datepicker-{{system.apiKey}}-{{guideSet.sampleType.name}}" />
      </td>
      <td>
        <ng-container *ngIf="guideSet.isUserDefined==false then buttonAuto else buttonManual"></ng-container>
        <ng-template #buttonAuto>
          <button type="button"
            [attr.disabled]="guideSet.labSystemTotalFiles < 20 || editingGuideSet==true ? true : null"
            (click)="createGuideSet(system, guideSet.sampleType)" class="waves-effect waves-light btn">Create guide
            set</button>
        </ng-template>
        <ng-template #buttonManual >
          <button style="margin-left: 10px;" type="button" class="waves-effect waves-light btn"
            [attr.disabled]="validGuideSet == false ? true: null" (click)="updateSystemGuideSet(system,guideSet)">Set /
            Update</button>
          <button style="margin-left: 10px;" type="button" class="waves-effect waves-light btn" *ngIf="guideSet.apiKey"
            (click)="setGuideSetToAutomatic(system,guideSet)">Automatic</button>
        </ng-template>
      </td>
      <td>
        <p *ngIf="guideSet.isUserDefined==false"><b>AUTOMATIC</b></p>
        <p *ngIf="guideSet.isUserDefined==true">This guide set has
          <b>{{guideSet.totalFiles}}</b> files.</p>
        <p>You have <b>{{guideSet.labSystemTotalFiles}}</b> files of this sample type.</p>
      </td>
    </tr>
  </tbody>
</table>
