<div class="row">
  <div class="col s12 m12 l12 xl12">
    <blockquote>
      <p>You need at least <strong>{{minFiles}}</strong> files to set up a custom guide set</p>
      <p>Your start and end date should include <strong>{{minFiles}}</strong> valid data points per each context source.</p>
      <p>At least <strong>{{minValidContextSource}}</strong> valid context sources points are needed per param to set up a manual guide set.</p>
    </blockquote>
  </div>
</div>
<table>
  <tbody *ngFor="let system of systems">
    <tr>
      <td colspan="5">{{system.name}}</td>
    </tr>
    <tr>
      <th>Sample type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Set guide set</th>
      <th>Information</th>
    </tr>
    <tr *ngFor="let guideSet of system.enabledGuideSets">
      <td>
        {{guideSet.sampleType.name}}
      </td>
      <td>
        <input type="text" [attr.disabled]="guideSet.isUserDefined==false ? true : null" position="start" name="startDate{{system.apiKey}}-{{guideSet.sampleType.name}}"
          class="datepicker-{{system.apiKey}}-{{guideSet.sampleType.name}}" [(ngModel)]="guideSet.startDate" attr.data-coord="datepicker-{{system.apiKey}}-{{guideSet.sampleType.name}}"
        />
      </td>
      <td>
        <input type="text" [attr.disabled]="guideSet.isUserDefined==false ? true : null" position="end" name="endDate{{system.apiKey}}-{{guideSet.sampleType.name}}"
          class="datepicker-{{system.apiKey}}-{{guideSet.sampleType.name}}" [(ngModel)]="guideSet.endDate" attr.data-coord="datepicker-{{system.apiKey}}-{{guideSet.sampleType.name}}"
        />
      </td>
      <td>
        <ng-container *ngIf="guideSet.isUserDefined==false then buttonAuto else buttonManual"></ng-container>
        <ng-template #buttonAuto>
          <button type="button" [attr.disabled]="guideSet.labSystemTotalFiles < 20 || editingGuideSet==true ? true : null" (click)="createGuideSet(system, guideSet.sampleType)"
            class="waves-effect waves-light btn">Create guide set</button>
        </ng-template>
        <ng-template #buttonManual>
          <button type="button" class="waves-effect waves-light btn" [attr.disabled]="validGuideSet == false ? true: null" (click)="updateSystemGuideSet(system,guideSet)">Set / Update</button>
        </ng-template>
      </td>
      <td>
        <p *ngIf="guideSet.isUserDefined==false"><strong>AUTOMATIC</strong></p>
        <p *ngIf="guideSet.isUserDefined==true">This guide set has
          <strong>{{guideSet.totalFiles}}</strong> files.</p>
        <p>You have <strong>{{guideSet.labSystemTotalFiles}}</strong> files of this sample type.</p>
      </td>
    </tr>
  </tbody>
</table>
