.clickable {
  cursor: pointer;
  color: #26a69a;
}
.modalClass {
  background-color: red !important;
  width: 1400px !important;
  max-width: 1400px !important;
}
.nsm-dialog {
  width: 1400px !important;
  max-width: 1400px !important;
}
.reverse {
  transform: rotate(180deg);
}
