<div class="row">
    <div class="input-field col s2">
        <input id="name" type="text" [(ngModel)]="name">
        <label for="name">Name</label>
    </div>
    <div class="input-field col s2">
        <input id="checksum" type="text" [(ngModel)]="checksum">
        <label for="checksum">Checksum</label>
    </div>
    <div class="input-field col s2">
        <input id="node" type="text" [(ngModel)]="node">
        <label for="node">Node</label>
    </div>
    <div class="input-field col s2">
        <input id="labsystem" type="text" [(ngModel)]="labsystem">
        <label for="labsystem">Labsystem</label>
    </div>
    <div class="input-field col s2">
        <select [(ngModel)]="sampleType" name="sampleType" required>
            <option value="" selected>All</option>
            <option value="QC:0000005">BSA</option>
            <option value="QC:0000006">Hela</option>
            <option value="QC:0000009">QC4L</option>
        </select>
        <label>Sample type</label>
    </div>
    <div class="input-field col s2">
        <input id="email" type="text" [(ngModel)]="email" (keyup)="getUsers()" class="autocomplete">
        <label for="email">Email</label>
    </div>
</div>
<div class="row">
    <!-- <div class="col s3"> -->
    <button class="btn" (click)="getPage(0)" style="margin-left: 10px;">Find</button>
    <!-- </div>
    <div class="col s1"> -->
    <button class="btn" (click)="getPage(0)" style="margin-left: 10px;">JSON</button>
    <!-- </div>
    <div class="col s1"> -->
    <button class="btn" (click)="getPage(0)" style="margin-left: 10px;">CSV</button>
    <!-- </div> -->
</div>
<!-- <div class="row">
    <div class="input-field col s2">
        <input id="dateStart" type="text" class="datepicker" [(ngModel)]="dateStart">
        <label for="dateStart">Start date</label>
    </div>
    <div class="input-field col s2">
            <input id="dateEnd" type="text" class="datepicker" [(ngModel)]="dateEnd">
            <label for="dateEnd">End date</label>
        </div>
</div> -->
<div class="row">
    <div class="col s2">
        <p>Files found: {{config.totalItems}}</p>
    </div>
</div>
<div class="row">
    <div class="col s2">
        <p>Items in page: <a class="clickable" (click)="stateNumberOfElementsPerPage(5)">5</a>|<a class="clickable"
                (click)="stateNumberOfElementsPerPage(10)">10</a>|<a class="clickable"
                (click)="stateNumberOfElementsPerPage(100)">100</a></p>
    </div>
    <div class="col s4">
        <label>
            <input type="checkbox" [(ngModel)]="highPerformance"/>
            <span>Ultra high performance</span>
        </label>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Checksum
            </th>
            <th>
                Date
            </th>
            <th>
                Labsystem
            </th>
            <th>
                Node
            </th>
            <th>
                Sample type
            </th>
            <th>
                Data
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
        <!--| FilePipe: name -->
        <tr *ngFor="let file of collection.data  | paginate: config">
            <td>
                {{file.filename}}
            </td>
            <td>
                {{file.checksum}}
            </td>
            <td>
                {{file.creationDate}}
            </td>
            <td (click)="[labsystem = file.labSystem.name, getPage(1)]">
                <a class="clickable" [options]="tooltipOptions" tooltip=" 
                    <ul>
                        <li>{{nodeTooltip}}</li>
                        <li>{{file.labSystem.dataSources[0].name}}</li>
                        <li>{{file.labSystem.dataSources[1].name}}</li>
                    </ul>"
                    (events)="handleTooltipEvents($event.type, file.labSystem.dataSources[0].apiKey)">{{file.labSystem.name}}
                </a>
            </td>
            <td>
                {{file.labSystem.node}}
            </td>
            <td (click)="sampleType = file.sampleType.qualityControlControlledVocabulary">
                {{file.sampleType.name}}
            </td>
            <td>
                <button class="btn"
                    (click)="[viewData(file.checksum),ngxSmartModalService.getModal('dataModal').open()]">View</button>
            </td>
            <td>
                <button class="btn" (click)="deleteFile(file.checksum)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls style="text-align: center;" (pageChange)="pageChanged($event)"></pagination-controls>
<ngx-smart-modal #myModal identifier="dataModal" class="modalClass" [customClass]="'modalClass'">
    <table>
        <thead>
            <th>
                Calculated value
            </th>
            <th>
                Value
            </th>
            <th>
                Param
            </th>
            <th>
                Context source
            </th>
            <th>
                Status
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let data of fileData">
                <td>
                    {{data.value}}
                </td>
                <td>
                    {{data.calculatedValue}}
                </td>
                <td>
                    {{data.param.name}}
                </td>
                <td>
                    {{data.contextSource.name}}
                </td>
                <td>
                    {{data.nonConformityStatus}}
                </td>
            </tr>
        </tbody>
    </table>
</ngx-smart-modal>