<h5>Default views list</h5>
<div class="chip" *ngIf="showFilter">
  {{cvFilter}}
  <i class="close material-icons" (click)="removeFilter()">close</i>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>CV</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let view of defaultViews">
      <td>
        {{view.name}}
      </td>
      <td>
        {{view.cv.name}}
      </td>
      <td>
        <i class="material-icons cursorIcon" (click)="editView(view)">edit</i>
      </td>
      <td>
        <i class="material-icons cursorIcon" (click)="deleteView(view)">delete</i>
      </td>
    </tr>
  </tbody>
</table>