<div class="row">
  <div class="col s12">
    <h1 class="center-align">Welcome to QCloud2.0</h1>
  </div>
</div>
<div class="row" >
    <div class="col xl4 s12 m12 l6" *ngFor="let video of videoLinks">
      <div class="card">
        <div class="card-image">
            <iframe width="560" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(video.link)" frameborder="0"
            allowfullscreen>
          </iframe>
        </div>
        <div class="card-action">
          <p href="#" class="videoTitle">{{video.title}}</p>
        </div>
      </div>
    </div>
  </div>