<div class="col s12 m12 l4 xl4">
  <app-messages></app-messages>
  <app-tips></app-tips>
</div>
<!-- <div class="col s4 offset-s4 z-depth-1" id="panell">
  <h5 class="title titleMessage"><img src="assets/icons/cite.svg" alt="Pipeline good" style="width: 4%;"> Demo version
  </h5>
  <p class="messageText">
    This is a demo version of QCloud2 and some functions have been blocked to guarantee its proper operation. <br>
    Every day at 24h all the data is restored. <br>
    This demo website could be accessed by multiple users at the same time.</p>
</div> -->
<div class="col s12 m12 l8 xl8 z-depth-2 right">
  <div class="row z-depth-0 green-background">
    <div class="col s12 m12 l12 xl12 ">
      <h4>
        Dashboard
      </h4>
    </div>

  </div>
  <div class="row z-depth-0">
    <div class="col s12 m12 l12 xl12">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>
