<div class="row">
  <div class="col s12">
    <ul class="collapsible" id="collapsible-colors">
      <li class="active">
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Choose your color</div>
        <div class="collapsible-body">
          <i *ngFor="let traceColor of traceColors" class="material-icons medium cursorIcon" [style.color]="traceColor.mainColor"
            (click)="changeTraceColor(traceColor)">linear_scale</i>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <table>
      <tr>
        <td *ngFor="let shade of contextSource.traceColor.shades; let i = index" [class.selected-shade]="i==contextSource.shadeGrade">
          <i class="material-icons cursorIcon" [style.color]="shade" (click)="selectShade(contextSource, i)">linear_scale</i>
        </td>
      </tr>
    </table>
  </div>
</div>
