<div class="col s12 m10 l10 xl10 z-depth-2">
  <div class="row z-depth-0 blue-grey darken-1">
    <ul class="tabs" id="tabs">
      <li class="tab col s6">
        <a href="#peptide" class="active">Peptides</a>
      </li>
      <li class="tab col s6">
        <a href="#isample">Instrument sample</a>
      </li>
    </ul>
  </div>
  <div id="isample" class="col s12">
    <div class="col s4 m4 l4 xl4">
      <app-instrument-sample-form></app-instrument-sample-form>
    </div>
    <div class="col s8 m8 l8 xl8">
      <app-instrument-sample-list></app-instrument-sample-list>
    </div>
  </div>
  <div id="peptide" class="col s12">
    <div class="col s4 m4 l4 xl4">
      <app-peptides-list></app-peptides-list>
    </div>
    <div class="col s4 m4 l4 xl4">
      <app-peptide-detail-form></app-peptide-detail-form>
    </div>
    <div class="col s4 m4 l4 xl4">
      <app-sample-composition-form></app-sample-composition-form>
    </div>
  </div>
</div>
