<div class="col s12 m10 l10 xl10 z-depth-2">
  <div class="row z-depth-0 green-background  ">
    <div class="col s12 m12 l12 xl12">
      <h4>Context source management</h4>
    </div>
  </div>
  <div class="row z-depth-0 green-background  ">
    <ul class="tabs" id="tabs">
      <li class="tab col s6">
        <a href="#peptide" class="active">Peptides</a>
      </li>
      <li class="tab col s6">
        <a href="#isample">Instrument sample</a>
      </li>
    </ul>
  </div>
  <!-- Peptide tab componentn -->
  <div id="peptide" class="col s12">
    <div class="col s12 m12 l5 xl5">
      <app-peptides-list></app-peptides-list>
    </div>
    <div class="col s12 m12 l5 xl5">
      <app-peptide-detail-form></app-peptide-detail-form>
    </div>
    <div class="col s12 m12 l2 xl2">
      <app-sample-composition-form></app-sample-composition-form>
    </div>
  </div>
  <!-- Instrument sample components -->
  <div id="isample" class="col s12">
    <div class="col s12 m12 l4 xl4">
      <app-instrument-sample-form></app-instrument-sample-form>
    </div>
    <div class="col s12 m12 l8 xl8">
      <app-instrument-sample-list></app-instrument-sample-list>
    </div>
  </div>
</div>