<div>
  <h5>New parameter</h5>
  <form (ngSubmit)="onSubmit(); newParameter.reset()" #newParameter="ngForm" ngNativeValidate autocomplete="off">
    <div class="input-field">
      <input #nameBox type="text" name="name" [(ngModel)]="newParam.name" class="validate" id="name" validate required>
      <label for="name">Name</label>
    </div>
    <div class="input-field">
      <input #qccvBox type="text" name="qccv" [(ngModel)]="newParam.qCCV" class="validate" id="qccv" validate required>
      <label for="qccv">QC controlled vocabulary</label>
    </div>
    <div class="input-field">
      <select id="selectFor" name="selectFor" [(ngModel)]="newParam.isFor">
        <option *ngFor="let isFor of isFors" [ngValue]="isFor">
          {{isFor}}
        </option>
      </select>
      <label>Is for</label>
    </div>
    <div class="input-field">
      <select id="selectProcessor" name="selectProcessor" [(ngModel)]="newParam.processor">
        <option *ngFor="let processor of processors" [ngValue]="processor">
          {{processor}}
        </option>
      </select>
      <label>Data processor</label>
    </div>
    <div class="input-field">
      <select id="isZeroNoDataSelect" name="isZeroNoDataSelect" [(ngModel)]="newParam.isZeroNoData">
        <option [ngValue]="true">Yes</option>
        <option [ngValue]="false">No</option>
      </select>
      <label>Is zero no data?</label>
    </div>
    <div class="input-field">
      <button type="submit" class="waves-effect waves-light btn blue-grey darken-1">Add</button>
    </div>
  </form>
</div>
