<div>
  <h5>New parameter</h5>
  <form (ngSubmit)="onSubmit(); newParameter.reset()" #newParameter="ngForm" ngNativeValidate autocomplete="off">
    <div class="input-field">
      <input #nameBox type="text" name="name" [(ngModel)]="newParam.name" class="validate" id="name" validate required>
      <label for="name">Name</label>
    </div>    
    <div class="input-field">
      <button type="submit" class="waves-effect waves-light btn blue-grey darken-1">Add</button>
    </div>
  </form>
</div>
