<mat-menu #buildMenu="matMenu" [overlapTrigger]="false">
    <ng-container *ngFor="let item of items">
        <!-- Handle main menu items -->
        <ng-container *ngIf="item.childs.length != 0">
            <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.buildMenu"
                (click)="addTroubleshooting(item)" >
                {{item.name}}
            </button>
            <app-annotation-selector-sub-menu #menu [items]="item.childs"></app-annotation-selector-sub-menu>
        </ng-container>
        <!-- Handle sub menu items -->
        <ng-container *ngIf="item.childs.length == 0">
            <button mat-menu-item (click)="addTroubleshooting(item)">
                {{item.name}}
            </button>
        </ng-container>
    </ng-container>
</mat-menu>