<!-- ASIDE show only for big screens-->
<div class="col s12 m2 l2 xl2 hide-on-med-and-down">
    <ul class="collapsible z-depth-0" id="menu">
        <li (click)="open('menu')">
            <a class="collapsible-header green-background   waves-effect waves-cyan">
                <span class="nav-headers">Files</span>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li><a routerLink="/application/intranet/files" routerLinkActive="active" class="cursorIcon">Manage
                            files</a></li>
                </ul>
            </div>
        </li>
        <li (click)="open('menu')">
            <a class="collapsible-header green-background   waves-effect waves-cyan">
                <span class="nav-headers">Node</span>
            </a>
            <div class="collapsible-body">
                <ul>
                    <li><a routerLink="/application/intranet/nodes" routerLinkActive="active" class="cursorIcon">Manage
                            nodes</a></li>
                </ul>
                <ul>
                    <li><a routerLink="/application/intranet/nodes/map" routerLinkActive="active" class="cursorIcon">Map</a></li>
                </ul>
            </div>

        </li>
    </ul>
</div>
<div class="col s12 m2 l2 xl2 hide-on-med-and-up">
    <span><i class="material-icons">people</i><i class="material-icons">web</i></span>
</div>