<div class="input-field">
  <input type="text" name="filterChart" name="filterChart" class="col s12 m12 l12 xl12" [(ngModel)]="filter.name">
  <label for="filterChart">Search by name</label>
</div>
<div class="chip" *ngFor="let filter of filters">
  {{filter.name}}
  <i class="close material-icons" (click)="doRemoveFilter(filter)">close</i>
</div>
<table>
  <thead>
    <tr>
      <th>
        <span class="cursorIcon" (click)="sortBy('name')">Name <span><i class="material-icons">{{orderIcon}}</i></span></span>
      </th>
      <th>
        For
      </th>
      <th>
        Sample type
      </th>
      <th>
        Action
      </th>
      <th>
        Threshold
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2">
        <i class="material-icons cursorIcon left" *ngIf="page>1" (click)="page=page-1">navigate_before</i>
      </td>
      <td>{{page}}</td>
      <td colspan="2">
        <i class="material-icons cursorIcon right" *ngIf="page<maxPages" (click)="page=page+1">navigate_next</i>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let chart of filteredCharts | chartFilter: filter | slice:(page-1)*limit:page*limit">
      <td>{{chart.name}}</td>
      <td>{{chart.cv.name}}</td>
      <td (click)="doSampleTypeFilter(chart.sampleType)"><u class="cursorIcon">{{chart.sampleType.name}}</u></td>
      <td>
        <i class="material-icons cursorIcon" (click)="editChart(chart)">edit</i>
        <!-- <i class="material-icons cursorIcon" (click)="duplicateChart(chart)">content_copy</i> -->
      </td>
      <td>
        <div class="switch">
          <label>
            Off
            <input type="checkbox" [(ngModel)]="chart.isThresholdEnabled" (change)="onIsThresholdChange(chart)">
            <span class="lever"></span>
            On
          </label>
        </div>
      </td>
    </tr>
  </tbody>

</table>
