<p>Users enabled in this node: {{usersEnabled}}</p>
<p>Users in this node: {{users.length}}</p>
<table>
    <thead>

        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Lastname
        </th>
        <th>
            Api Key
        </th>
        <th>
            Enabled
        </th>
        <th>
            Reset password
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                {{user.username}}
            </td>
            <td>
                {{user.firstname}}
            </td>
            <td>
                {{user.lastname}}
            </td>
            <td>
                {{user.apiKey}}
            </td>
            <td class="isLink cursorIcon" (click)="enableDisableUser(user.apiKey)">
                {{user.enabled}}
            </td>
            <td>
                <button class="btn" (click)="resetPassword(user)">Reset password</button>
            </td>
        </tr>
    </tbody>
</table>