<p>Users in this node: {{users.length}}</p>
<table>
    <thead>

        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Lastname
        </th>
        <th>
            Api Key
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                {{user.username}}
            </td>
            <td>
                {{user.firstname}}
            </td>
            <td>
                {{user.lastname}}
            </td>
            <td>
                {{user.apiKey}}
            </td>
        </tr>
    </tbody>
</table>