#panell {
	margin-top: 100px;
	padding: 0px;
}

#loginbtn {
	margin-bottom: 10px;
	margin-right: 10px;
}

#regbtn {
	margin-bottom: 10px;
	margin-left: 10px;
}

#title {
	background-color: #003b35;
	color: white;
	padding: 8px;
	margin-top: 0px
}

form {
	padding: 0px;
	border-radius: 3px;
	box-sizing: border-box;
}

.input-field {
	margin-left: 20px;
	margin-right: 20px;
}

#checkbox {
	margin-left: 30px;
}
.helper-text{
	color:red;
}