.panell {
  /* margin-top: 100px; */
  padding: 0px;
}

#loginbtn {
  margin-bottom: 10px;
  margin-right: 10px;
}

#regbtn {
  margin-bottom: 10px;
  margin-left: 10px;
}

#title {
  background-color: #a7d7c5;
  color: black;
  padding: 8px;
  margin-top: 0px;
}

form {
  padding: 0px;
  border-radius: 3px;
  box-sizing: border-box;
}

.input-field {
  margin-left: 20px;
  margin-right: 20px;
}

#checkbox {
  margin-left: 30px;
}
.helper-text {
  color: red;
}

.greenLink {
  color: #7dc4a9;
}

.videoTitle {
  font-size: 2em;
}

.card {
  width: 560px;
}

.card-image {
  height: 315px;
}

#panell {
  margin-top: 50px;
  padding: 0px;
}

.title {
  color: white;
  padding: 8px;
  margin-top: 0px;
}

.titleWarning {
  background-color: #ffc107;
  color: rgba(0, 0, 0, 0.87);
}

.titleError {
  background-color: #dc3545;
}

.titleMessage {
  background-color: #5c8d89;
}

.messageText {
  margin-left: 10px;
}
<<<<<<< HEAD
=======

.imagerino {
  display: block;
  margin: auto;
  max-height: 72px;
  vertical-align: middle;
}

.page-footer  {
  background-color: #a7d7c5;
}

.texte {
  text-align: center;
  text-transform: uppercase;
  font-size: large;
}


.content {
  min-height: calc(100vh - 120px);
}
.container {
  justify-content: center;
  align-items: center;
}



.containerFooter {
  flex: 1;    /* same as flex-grow: 1; */
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.bignum {
  font-size: 200%;
  color: #7dc4a9;

}

.panellNumbers {
  background-color: #F2F5F6;
}

.underNumber {
  color: #636363;
}

.titleNumbers {
  color: #636363;
  font-size: 1.5rem;
}
>>>>>>> master
