<ul class="collection z-depth-1">
  <li class="collection-item">
    <h5>File info</h5>
  </li>
  <li class="collection-item">
    <div *ngIf="file" title="{{file.filename}}">
      <p class="bold">File name:</p>
      <p style="overflow: hidden;">{{file.filename}}</p>
    </div>
    <button class="btn-small" (click)="copyToClipboard()">Copy file name to clipboard</button>
    <div *ngIf="file" title="{{file.filename}}">
      <p class="bold">Acquisition start date:</p>
      <p>{{file.creationDate}}</p>
    </div>
    <div *ngIf="file" title="{{file.filename}}">
      <p class="bold">QCloud publication date:</p>
      <p *ngIf="file.insertDate">{{file.insertDate}}</p>
      <p *ngIf="!file.insertDate">Not available</p>
    </div>
    <!-- <div *ngIf="file" title="{{file.filename}}">
      <p class="bold">Time elapsed:</p>
      <p>{{elapsedTime}}</p>
    </div> -->
  </li>
</ul>
<ul class="collection z-depth-1">
  <li class="collection-item">
    <h5>Annotation</h5>
    <span class="go-back" (click)="goBack()">[Go back]</span>
  </li>
  <li class="collection-item">
    <p *ngIf="annotation" class="annotation-author">
      by {{annotation.user.firstname}} {{annotation.user.lastname}} on {{annotation.annotationDate | date:'short'}}
    </p>
  </li>
  <!-- <li *ngFor="let type of troubleshootingTypes()">
    <app-annotation-selector [troubleshootingType]="type" [annotation]="annotation"></app-annotation-selector>
  </li> -->
  <li>
    <app-annotation-selector-problems ></app-annotation-selector-problems>
  </li>
  <li>
    <app-annotation-selector-actions [annotation]="annotation"></app-annotation-selector-actions>
  </li>
  <li>
    <app-annotation-list [file]="file" [annotation]="annotation" (annotationAction)="onAction($event)">
    </app-annotation-list>
  </li>
</ul>