<div id="wrapperino" *ngIf="telegramURL!=''">
    <div class="row">
        <div class="col s12">
            <p>Telegram bot URL: <a href="http://t.me/QCloud2Bot">QCloud2Bot</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
                Telegram password: 
            <div class="input-field inline">
                <input type="text" [value]= "telegramURL" disabled>
            </div>
            <a (click)="resetTelegramCode()" style="margin-left: 35px;" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Reset</a>
        </div>
    </div>
</div>
