<div class="row" *ngIf="annotation">
  <div class="input-field col s12">
    <input type="text" name="description" id="description" [(ngModel)]="annotation.description"
      style="margin-left: 13px; width: 14vw;" />
    <label for="description" style="margin-left: 10px;">Additional information</label>
  </div>
</div>
<div class="row" style="margin-left: -3px;">
  <div class="col s12">
    <button type="button" class="waves-effect waves-light btn" (click)="saveTroubleshooting()"
      *ngIf="!updating">save</button>

    <button type="button" class="waves-effect waves-light btn" (click)="updateTroubleshooting()"
      *ngIf="updating">Update</button>

    <button type="button" class="waves-effect waves-light btn" (click)="deleteTroubleshooting()" *ngIf="updating"
      style="margin-left: 10px;">Delete</button>
  </div>
</div>
<div class="row" *ngFor="let item of caca">
  <div class="col s12">
      <div class="chip">
        {{item.name}}
        <i class="close material-icons" (click)="removeFromList(item)">close</i>
      </div>
  </div>
</div>