<div class="col s12 m10 l10 xl10 z-depth-2">
  <div class="row z-depth-0 blue-grey darken-1">
    <div class="col s12 m12 l12 xl12">
      <h4>Charts management</h4>
    </div>
  </div>
  <div class="row">    
    <app-chart-form></app-chart-form>
  </div>
  <!-- PARAMS SELECTOR -->
  <div class="row z-depth-0">
    <div class="col s12 m12 l12 xl12">
      <div class="col s3">
        <app-chart-cvs></app-chart-cvs>
      </div>
      <div class="col s3">
        <app-chart-sample-type></app-chart-sample-type>
      </div>
      <div class="col s3">
        <app-chart-param></app-chart-param>
      </div>
      <div class="col s3">
        <app-chart-context-source></app-chart-context-source>
      </div>
    </div>
  </div>

</div>
