<h5>Details</h5>
<form (ngSubmit)="onSubmit(); peptideForm.reset()" #peptideForm="ngForm" ngNativeValidate autocomplete="off">
  <div class="input-field">
    <input #peptideNameBox type="text" name="name" [(ngModel)]="formData.currentPeptide.name" class="validate" id="name" validate required>
    <label for="name">Peptide name</label>
  </div>
  <div class="input-field">
    <input type="text" #sequenceBox name="sequence" [(ngModel)]="formData.currentPeptide.sequence" class="validate" id="sequence" validate required>
    <label for="sequence">Sequence</label>
  </div>
  <div class="input-field">
    <input type="text" #abbreviatedSequenceBox name="abbreviatedSequence" [(ngModel)]="formData.currentPeptide.abbreviatedSequence" class="validate" id="abbreviatedSequence" validate
      required>
    <label for="abbreviatedSequence">Abbreviated sequence</label>
  </div>
  <div class="row" *ngFor="let sampleType of sampleTypes">
    <div class="col s2 m2 l2 xl2">
      <p>
        <label>
          <input type="checkbox" name="sampleType{{sampleType.id}}" [(ngModel)]="compositionInputs[sampleType.id]"/>
          <span>{{sampleType.name}}</span>
        </label>
      </p>
      </div>
      <div class="col s10 m10 l10 xl10">
        <input type="number" [(ngModel)]="formData.compositions[sampleType.id].concentration" 
          name="concentration{{sampleType.id}}"
          [disabled]="!compositionInputs[sampleType.id]" />
        <label for="concentration{{sampleType.id}}">Concentration in {{sampleType.name}} </label>
      </div>
    </div>  

  <div class="input-field">
    <button type="submit" class="waves-effect waves-light btn blue-grey darken-1">Add new peptide</button>
    <button type="button" (click)="show()">show</button>
  </div>
</form>
