<h5>{{formTitle}}</h5>
<form (ngSubmit)="onSubmit(); peptideForm.reset()" #peptideForm="ngForm" ngNativeValidate autocomplete="off">
  <div class="row">
    <div class="input-field">
      <input #peptideNameBox type="text" name="name" [(ngModel)]="formData.currentPeptide.name" class="validate" id="name"
        validate required>
      <label for="name">Peptide name</label>
    </div>
    <div class="input-field">
      <input type="text" #sequenceBox name="sequence" [(ngModel)]="formData.currentPeptide.sequence" class="validate"
        id="sequence" validate required>
      <label for="sequence">Sequence</label>
    </div>
    <div class="input-field">
      <input type="text" #abbreviatedSequenceBox name="abbreviatedSequence" [(ngModel)]="formData.currentPeptide.abbreviated"
        class="validate" id="abbreviatedSequence" validate required>
      <label for="abbreviatedSequence">Abbreviated sequence</label>
    </div>
    <div class="input-field">
      <input type="number" #chargeBox name="charge" [(ngModel)]="formData.currentPeptide.charge" class="validate" id="charge"
        validate required>
      <label for="charge">Charge</label>
    </div>
    <div class="input-field">
      <input type="number" #mzBox name="mz" step="0.001" [(ngModel)]="formData.currentPeptide.mz" class="validate" id="mz"
        validate required>
      <label for="mz">mz</label>
    </div>
    <div class="input-field">
      <app-trace-color-picker [contextSource]="formData.currentPeptide"></app-trace-color-picker>
      
      <!-- <ul class="collapsible" id="collapsible-colors">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Choose your color</div>
          <div class="collapsible-body">
            <i *ngFor="let traceColor of traceColors" 
              class="material-icons medium cursorIcon"
              [style.color]="traceColor.mainColor"
              (click)="changeTraceColor(traceColor)">linear_scale</i>
          </div>
        </li>
      </ul> -->
    </div>

    <div class="input-field">
      
      <!-- <table>
        <tr>
          <td *ngFor="let shade of formData.currentPeptide.traceColor.shades; let i = index" [class.selected-shade]="i==formData.currentPeptide.shadeGrade">
            <i class="material-icons cursorIcon" [style.color]="shade" (click)="selectShade(formData.currentPeptide, i)">linear_scale</i>
          </td>
        </tr>
      </table> -->

    </div>
  </div>
  <div class="input-field">
    <button type="submit" class="waves-effect waves-light btn blue-grey darken-1">{{formSubmitButton}}</button>
  </div>
</form>
