<ul id="contentAction" class="dropdown-content" (mouseleave)="closeAlertList()">
  <li *ngFor="let parent of parentActions">
    <a data-target="contentChildAction" class="dropdown-trigger" [id]="parent.apiKey"
      (mouseenter)="openChild(parent.action, parent.apiKey)">{{parent.name}}</a>
  </li>
</ul>

<ul id="contentChildAction" class="dropdown-content">
  <li *ngFor="let child of parentChildActions">
    <a (click)="addAction(child)">{{child.name}}</a>
  </li>
</ul>


<a class="btn dropdown-trigger" [id]="dropDownDefaultId" (mouseenter)="open()" data-target="contentAction" style="margin-left: 7px; margin-top: 10px; margin-bottom: 10px;">Actions
</a>