<div class="loader" [style.display]="loaded ? 'none' : 'block'">Loading...</div>
<p [style.display]="noData ? 'none' : 'block'" class="no-data-name">{{layout.title}}</p>
<div class="no-data" [style.display]="noData ? 'none' : 'block'">
  <h2 class="text-error center-align">No data available</h2>
</div>
<div class="plot-display">
  <div id="plot{{randString}}" class="center" name="plot">
    <div *ngIf="error">
      <h2>Error</h2>
      <p>There is an error with chart:
        <strong>{{chart.name}}</strong>
      </p>
      <i>{{errorMessage}}</i>
    </div>
  </div>
</div>