<div class="loader" [style.display]="loaded ? 'none' : 'block'">Loading...</div>
<div class="plot-display">
  <ng-container *ngIf="loading then load else chartHolder"></ng-container>
  <ng-template #chartHolder>
    <div id="plot{{chart.id}}" class="center">
      <div *ngIf="error">
        <h2>Error</h2>
        <p>There is an error with chart:
          <strong>{{chart.name}}</strong>
        </p>
        <i>{{errorMessage}}</i>
      </div>
    </div>
  </ng-template>
  <ng-template #load>
    <div>
      <h2>Loading....</h2>
    </div>
  </ng-template>
</div>
