<div>
  <ng-container *ngIf="loading then load else chartHolder"></ng-container>
  <ng-template #chartHolder>
    <div id="plot{{chart.id}}">
      <div *ngIf="error">
        <h2>Error</h2>
        <p>There is an error with chart:
          <strong>{{chart.name}}</strong>
        </p>
        <i>{{errorMessage}}</i>
      </div>
    </div>
  </ng-template>
  <ng-template #load>
    <div>
      <h2>Loading....</h2>
    </div>
  </ng-template>
</div>

<!-- 
<div>
  <ng-container *ngIf="chart then load else placeholder"></ng-container>
  <ng-template #load>
    <div id="plot{{chart.id}}"></div>
  </ng-template>
  <ng-template #placeholder>
    <div>
      <h2>Loading....</h2>
    </div>
  </ng-template>
</div> -->
