<ng-container *ngIf="type==='instrument' then instrument else user"></ng-container>
<ng-template #instrument>
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <app-auto-plot [labSystemStatus]="labSystemStatusFromUrl"></app-auto-plot>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <ul class="tabs tabs-fixed-width" id="chartstabs">
        <li class="tab" *ngFor="let view of views">
          <a href="#tab{{view.id}}" (click)="loadTab(view)">{{view.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="tab{{view.id}}" class="col s12 m12 l12 xl12" *ngFor="let view of views">
    <div *ngIf="viewLoaded[view.id] | async">
      <!-- <app-file-information [sampleTypeCategory]="view.sampleTypeCategory"></app-file-information> -->
      <app-isotopologue-information [sampleTypeCategory]="view.sampleTypeCategory" *ngIf="view.sampleTypeCategory.sampleTypeComplexity=='HIGHWITHISOTOPOLOGUES'"></app-isotopologue-information>
      <div class="row valign-wrapper" *ngFor="let row of displays['a'+view.id].charts">
        <ng-container *ngIf="row.length==1 then single else double"></ng-container>
        <ng-template #single>
          <div class="col s12 m12 l12 xl12" *ngFor="let charts of row">
            <app-plot [chart]="charts.chart" [system]="system" [shownames]="false"></app-plot>
          </div>
        </ng-template>
        <ng-template #double>
          <div class="col s12 m6 l6 xl6" *ngFor="let charts of row">
            <app-plot [chart]="charts.chart" [system]="system" [shownames]="false"></app-plot>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #user>
  <app-file-information></app-file-information>
  <div class="row valign-wrapper" *ngFor="let row of display.charts">
    <ng-container *ngIf="row.length==1 then single else double"></ng-container>
    <ng-template #single>
      <div class="col s12 m12 l12 xl12" *ngFor="let charts of row">
        <app-plot [chart]="charts.chart" [system]="charts.labSystem" [shownames]="true"></app-plot>
      </div>
    </ng-template>
    <ng-template #double>
      <div class="col s12 m6 l6 xl6" *ngFor="let charts of row">
        <app-plot [chart]="charts.chart" [system]="charts.labSystem" [shownames]="true"></app-plot>
      </div>
    </ng-template>
  </div>
</ng-template>
