<h4 *ngIf="view">{{view.name}}</h4>
<div class="row valign-wrapper" *ngFor="let row of display.charts">
    <ng-container *ngIf="row.length==1 then single else double"></ng-container>
    <ng-template #single>
      <div class="col s12 m12 l12 xl12" *ngFor="let charts of row">
        <!-- <p>{{charts.chart.name}}</p>         -->
        <app-plot [chart]="charts.chart" [dataSource]="dataSource"></app-plot>
      </div>      
    </ng-template>
    <ng-template #double>
      <div class="col s12 m6 l6 xl6" *ngFor="let charts of row">
        <!-- <p>{{charts.chart.name}}</p> -->
        <app-plot [chart]="charts.chart" [dataSource]="dataSource"></app-plot>
      </div>
    </ng-template>
</div>
