.tabs {
  overflow-x: hidden !important;
}
.tabs .tab a {
  color: #5c8d89;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color: #eee;
  color: #5c8d89;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color: #f4f9f4;
  color: #5c8d89;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: blue !important;
}
