<div class="col s12 m10 l10 xl10 z-depth-2">
  <div class="row z-depth-0 green-background  ">
    <div class="col s12 m12 l12 xl12">
      <h4>Troubleshooting parent management</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12 xl12">
      <a class="btn-floating waves-effect waves-light right" (click)="navigateToParentCreator()">
        <i class="material-icons">add</i>
      </a>
        <app-troubleshooting-parent-main></app-troubleshooting-parent-main>
    </div>
  </div>
</div>