<div class="col s12 m10 l10 xl10 z-depth-2">
  <div class="row z-depth-0 blue-grey darken-1">
    <div class="col s12 m12 l12 xl12">
      <h4>Troubleshooting management</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s4 m4 l4 xl4">
      <app-problems-list></app-problems-list>
    </div>
    <div class="col s4 m4 l4 xl4">
      <app-reasons-list></app-reasons-list>
    </div>
    <div class="col s4 m4 l4 xl4">
      <app-actions-list></app-actions-list>
    </div>
    
  </div>
</div>
