<div class="col s12 m10 l10 xl10 z-depth-2">
    <div class="row z-depth-0 green-background  ">
        <div class="col s12 m12 l12 xl12">
            <h4>Troubleshooting editor</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            <div class="container" *ngIf="trouble != undefined">
                <form #problemForm="ngForm">
                    <div class="input-field col s12">
                        <input type="text" name="name" id="name" [(ngModel)]="trouble.name" required>
                        <label>Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="desc" id="desc" [(ngModel)]="trouble.description" required>
                        <label>Description</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="qccv" id="qccv" [(ngModel)]="trouble.qccv" required>
                        <label>QCCV</label>
                    </div>
                </form>
                <div class="row">
                    <button class="waves-effect waves-teal btn" [disabled]="!problemForm.valid"
                        (click)="update()">Update</button>
                    <button style="margin-left: 10px;" class="waves-effect waves-teal btn"
                        (click)="goToRelations()">Relations</button>
                    <button style="margin-left: 10px;" class="btn amber waves-effect waves-light" (click)="goBack()">Go
                        back</button>
                </div>
            </div>
        </div>
    </div>
</div>