<h5>Password change</h5>
<div *ngIf="!isPasswordChanged">
  <form [formGroup]="changePasswordFormGroup" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
    <div [formGroup]="currentPasswordFormGroup">
      <div class="form-group">
        <input id="current_password" name="current_password" type="password" class="validate" formControlName="currentPassword"
          required>
        <label for="current_password">Current password</label>
      </div>
      <p class="red-text" *ngIf="currentPasswordFormGroup.controls.currentPassword.errors?.required && currentPasswordFormGroup.controls.currentPassword.touched">Password
        is required</p>
    </div>
    <div [formGroup]="newPasswordFormGroup">
      <div class="form-group">
        <input id="new_password" name="new_password" type="password" class="validate" formControlName="newPassword"
          required>
        <label for="new_password">Type your new password</label>
      </div>
      <div class="form-group">
        <input id="repeat_password" name="repeat_password" type="password" class="validate" formControlName="repeatPassword"
          required>
        <label for="repeat_password">Retype your password</label>
      </div>
      <p class="red-text" *ngIf="newPasswordFormGroup.controls.repeatPassword.errors?.required && newPasswordFormGroup.controls.repeatPassword.touched">Repeat
        password is required</p>
      <p class="red-text" *ngIf="newPasswordFormGroup.errors?.doesMatchPassword">Password does not match</p>

    </div>
    <div class="form-group">
      <button class="form-control btn btn-primary" type="submit" [disabled]="!changePasswordFormGroup.valid">Register</button>
    </div>
  </form>
</div>
<div *ngIf="isPasswordChanged">
  <h6>Password changed correctly</h6>
</div>
