<h5>Default threshold list
  <a class="btn-floating waves-effect waves-light right" (click)="openForm($event)">
    <i class="material-icons">add</i>
  </a>
</h5>
<table>
  <thead>
    <tr>
      <th>CV</th>
      <th>Sample type</th>
      <th>Parameter</th>
      <th>Context source/s</th>
      <th>Direction</th>
      <th>Steps</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let threshold of thresholds">
      <td>{{threshold.cv.name}} {{threshold.cv.cvid}}</td>
      <td>{{threshold.sampleType.name}}</td>
      <td>{{threshold.param.name}}</td>
      <td>
        <ul>
          <li *ngIf="viewThresholdContextSources !== threshold.apiKey">
            <a (click)="doVisible(threshold.apiKey)" class="show-context-source-text">Click to view context sources</a></li>
          <li *ngIf="viewThresholdContextSources === threshold.apiKey">
            <a (click)="viewThresholdContextSources=null" class="show-context-source-text">Click to hide context
              sources</a></li>
          <li *ngFor="let contextSource of threshold.thresholdParams" [class.item-visible]="viewThresholdContextSources === threshold.apiKey"
            [class.item-hidden]="viewThresholdContextSources !== threshold.apiKey">
            {{contextSource.contextSource.name}}
          </li>
        </ul>
      </td>
      <td>{{threshold.nonConformityDirection}}</td>
      <td>{{threshold.steps}}</td>
    </tr>
    <tr *ngIf="showForm">
      <td>{{selectedCV.name}}</td>
    </tr>
  </tbody>
</table>
