<h5>Insert peptide details</h5>
<form (ngSubmit)="onSubmit()">
  <div class="input-field">
    <input type="text" name="name" class="validate" id="name" validate required [(ngModel)]="peptide.name">
    <label for="name">Peptide name</label>
  </div>
  <div class="input-field">
    <input type="text" name="sequence" class="validate" id="sequence" validate required [(ngModel)]="peptide.sequence">
    <label for="name">Peptide sequence</label>
  </div>
  <div class="input-field">
    <button type="submit" class="btn">Add new peptide</button>
    <button type="button" class="btn" (click)="doCancel()" >Cancel</button>
  </div>
</form>