<h5>Peptides</h5>
<div class="input-field col s12">
  <select name="sampleTypeSelector" id="sampleTypeSelector" (change)="doFilter($event.target.value)">
    <option value="All" selected>All</option>
    <option *ngFor="let sampleType of sampleTypes">{{sampleType.name}}</option>
  </select>
  <label>Filter by sample type</label>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviated</th>
      <th>Belongs to</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let peptide of peptides">
      <td class="truncate">{{peptide.name}}</td>
      <td>
          {{peptide.abbreviated}}
      </td>
      <td>
        {{peptide.belongs}}
      </td>
      <td>
          <i class="material-icons cursorIcon" (click)="sendToDetail(peptide)">pageview</i>
      </td>
    </tr>
  </tbody>
</table>
