<a class="btn-floating waves-effect waves-light right" (click)="openForm($event)">
    <i class="material-icons">add</i>
  </a>
<table>
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
      <th>
        Instument
      </th>
      <th>
        Param
      </th>
      <th>
        Context Source
      </th>
      <th>
        SampleType
      </th>
      <th>
        Value
      </th>
      <th>
        Nodes
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let communityLine of communityLines">
      <td>{{communityLine.id}}</td>
      <td>{{communityLine.name}}</td>
      <td>{{communityLine.instrument.name}}</td>
      <td>{{communityLine.param.name}}</td>
      <td>{{communityLine.contextSource.name}}</td>
      <td>{{communityLine.sampleType.name}}</td>
      <td>{{communityLine.value}}</td>
      <td>
        <select multiple>
            <option *ngFor="let node of communityLine.nodes" [selected]="node.selected">{{node.name}}</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>