<a class="btn-floating waves-effect waves-light right" (click)="openFormEvent(false)">
  <i class="material-icons">add</i>
</a>
<table>
  <thead>
    <tr>
      <th>
        Partner logo
      </th>
      <th>
        Name
      </th>
      <th>
        Instrument
      </th>
      <th>
        Parameter
      </th>
      <th>
        Context source
      </th>
      <th>
        Sample type
      </th>
      <th>
        Value
      </th>
      <th>
        Nodes
      </th>
      <th>
        Edit
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let communityLine of communityLines">
      <td><img [src]="communityLine.communityPartner.logo" [alt]="communityLine.communityPartner.name"
          [title]="communityLine.communityPartner.name"></td>
      <td>{{communityLine.name}}</td>
      <td>{{communityLine.instrument.name}}</td>
      <td>{{communityLine.param.name}}</td>
      <td>{{communityLine.contextSource.name}}</td>
      <td>{{communityLine.sampleType.name}}</td>
      <td>{{communityLine.value}}</td>
      <td>
        <select multiple [id]="communityLine.apiKey" (change)="updateRelation(true ,communityLine)" [(ngModel)]="nodeKey">
        </select>
      </td>
      <td><i class="material-icons" (click)="openFormEvent(true, communityLine.id)">create</i></td>
      <td><i class="material-icons" (click)="deleteLine(communityLine.id)">delete_forever</i></td>
    </tr>
  </tbody>
</table>