<div class="col s12 m10 l10 xl10 z-depth-2">
  <div class="row z-depth-0 blue-grey darken-1">
    <div class="col s12 m12 l12 xl12">
      <h4>Non conformities</h4>
    </div>
  </div>
  <!-- LARGE -->
  <div class="row ">
    <div class="col s2 m2 l2 xl2">
      <app-non-conformities-selector></app-non-conformities-selector>
    </div>
    <div class="col s7 m7 l7 xl7">
      <app-non-conformities-list></app-non-conformities-list>
    </div>
    <div class="col s3 m3 l3 xl3">
      <h5>Plot and info</h5>
    </div>
  </div>

</div>
