/* You can add global styles to this file, and also import other style files */

/* Some elements here are global ant other are from libs. The lib elements only can be modified in this file */
@import "~@angular/cdk/overlay-prebuilt.css";
.green-background {
    background-color: #f4f9f4;
    color: black;
}

.collapsible-header {
    background-color: #f4f9f4 !important;
}
.collapsible-header span {
    color: black !important;
    
}
button[type="submit"] {
    background-color: #a7d7c5;
    color: black;
}
button[type="button"] {
    background-color: #a7d7c5;
    color: black;
}
.datepicker-day-button {
    background-color: #fafafa !important;
}

.datepicker-day-button {
    background-color: #fafafa !important;
}

.is-selected button{
    background-color: #a7d7c5 !important;
}

.btn-flat.datepicker-done.waves-effect {
    margin-left: 10px !important;
}