<ul class="collection z-depth-1">
  <li class="collection-item">
    <span>
      <h5>Date selector</h5>
    </span>
  </li>
  <li class="collection-item">
    <div class="row">
      <p *ngFor="let dateRange of dateRanges">
        <label>
          <input name="date-range" type="radio" 
          [(ngModel)]="selectedDateRange" 
          [value]="dateRange"
          (change)="doChangeRange()"/>
          <span>{{dateRange.name}}</span>
        </label>
      </p>
    </div>
  </li>
  <li class="collection-item">
    <span>Start date</span>
    <input type="text" name="startDate" class="datepicker" [(ngModel)]="datesArray[0]" />
  </li>
  <li class="collection-item">
    <span>End date</span>
    <input type="text" name="endDate" class="datepicker" [(ngModel)]="datesArray[1]" />
  </li>
  <li class="collection-item">
    <button type="button" class="btn" (click)="search()">Search</button>
  </li>

  <!-- <li class="collection-item">
    <strong>Show annotations</strong>
    <div class="switch">
      <label>
        No
        <input type="checkbox" checked>
        <span class="lever"></span>
        Yes
      </label>
    </div>
  </li> -->
</ul>
