<div class="row">
  <div class="col s12 m12 l12 xl12">
    <table>
      <tbody *ngFor="let labSystemThreshold of labSystemThresholds">
        <tr>
          <td colspan="7" class="blue-grey lighten-4">
            <strong>Lab system:</strong> {{labSystemThreshold.labSystem.name}}</td>
        </tr>
        <tr>
          <th>Param</th>
          <th>Context sources</th>
          <th>Initial value</th>
          <th>Step value</th>
          <th>Steps</th>
        </tr>
        <tr *ngFor="let threshold of labSystemThreshold.thresholds">
          <td>
            {{threshold.param.name}}
            <i class="material-icons cursorIcon" *ngIf="threshold.managerThresholdConstraint.globalInitialValue || threshold.managerThresholdConstraint.globalStepValue"
              (click)="editThreshold(threshold)">create</i>
            <i class="material-icons cursorIcon" *ngIf="threshold['edditing']" (click)="saveThresholdParams(threshold)">save</i>
          </td>
          <td>
            <ul>
              <li *ngFor="let contextSource of threshold.thresholdParams">
                <i class="material-icons cursorIcon" [ngClass]="(contextSource.isEnabled)?'enabled':'disabled'" (click)="changeContextSourceStatus(threshold, contextSource)">power_settings_new</i>
                {{contextSource.contextSource.name}}
              </li>
            </ul>
          </td>
          <!-- INITIAL VALUE-->
          <td>
            <ng-container *ngIf="threshold.edditing then edit else show"></ng-container>
            <ng-template #show>
              <ul>
                <li *ngFor="let contextSource of threshold.thresholdParams">
                  {{contextSource.initialValue}}
                </li>
              </ul>
            </ng-template>
            <ng-template #edit>
              <div class="input-field col s3">
                <input id="initialValue" name="initialValue" [(ngModel)]="threshold.globalInitialValue" type="number" class="validate">
                <label for="initialValue">Initial value</label>
              </div>
            </ng-template>
          </td>
          <!-- STEP VALUE-->
          <td>
            <ng-container *ngIf="threshold.edditing then editSV else showSV"></ng-container>
            <ng-template #showSV>
              <ul>
                <li *ngFor="let contextSource of threshold.thresholdParams">
                  {{contextSource.stepValue}}
                </li>
              </ul>
            </ng-template>
            <ng-template #editSV>
              <div class="input-field col s3">
                <input id="stepValue" name="stepValue" [(ngModel)]="threshold.globalStepValue" type="number" class="validate">
                <label for="stepValue">Step value</label>
              </div>
            </ng-template>

          </td>
          <td>
            {{threshold.steps}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
