<div class="row" *ngFor="let row of display">
    <ng-container *ngIf="row.length==1 then single else double"></ng-container>
    <ng-template #single>
      <div class="col s12 m12 l12 xl12" *ngFor="let charts of row">
        <p>{{charts}}</p>
        
      </div>      
    </ng-template>
    <ng-template #double>
      <div class="col s12 m6 l6 xl6" *ngFor="let charts of row">
        <p>{{charts}}</p>
      </div>
    </ng-template>
</div>
<div class="row">
  <div class="col s12 m12 l12 xl12">
    <button type="button" class="btn waves-effect btn-large" (click)="addRow()">Add row</button>
  </div>
</div>